<div layout="column" class="card">
	<md-card md-whiteframe="12">
		<md-card-header class="card-not-collected" layout="row">
			<md-card-header-text>
				<span class="md-title">{{ card.category }}</span>
			</md-card-header-text>

			<span flex></span>

			<md-card-avatar>
				<md-button class="md-icon-button md-primary" ng-click="showCategoryInfo = !showCategoryInfo" aria-label="category information">
					<md-icon ng-if="!showCategoryInfo" md-svg-src="icons/ic_expand_more_black_24px.svg" class="info-button"></md-icon>

					<!-- if category shown filled in info button -->
					<md-icon ng-if="showCategoryInfo" md-svg-src="icons/ic_expand_less_black_24px.svg" class="info-button"></md-icon>
				</md-button>
			</md-card-avatar>
		</md-card-header>


		<!-- the ng-switch on is for the category info popup -->
		<div id="front-card-image-not-collected">
			<div class="category-info-popup animated" ng-show="showCategoryInfo" ng-class="{ fadeInDown: showCategoryInfo, fadeOutUp: !showCategoryInfo }">
				<!-- switch on category -->
				<div ng-if="card.category == 'World Leaders'">
					<em>World Leaders</em>
					<p>World Leaders that are worthy of leading their people...</p>
				</div>

				<div ng-if="card.category == 'Activists'">
					<em>Activists</em>
					<p>These guys wouldn't settle for the status quo. They showed immense courage to stand up for what they believe in...</p>
				</div>

				<div ng-if="card.category == 'Fictional'">
					<em>Fictionals</em>
					<p>Can a fictional person be a hero...?</p>
				</div>

				<div ng-if="card.category == 'Artists'">
					<em>Artists</em>
					<p>Musicians, Writers, Actors etc...</p>
				</div>

				<div ng-if="card.category == 'Scientists'">
					<em>Scientists</em>
					<p>Scientists and Mathematicians...</p>
				</div>

				<div ng-if="card.category == 'Sports'">
					<em>Sports</em>
					<p>Ah sport, the great triviality. But it can produce the occasional hero...</p>
				</div>

				<div ng-if="card.category == 'Celebs'">
					<em>Celebs</em>
					<p>We're not talking about C-list celebrities of the tabloid variety here. No. These people 
						have used their fame for good...
					</p>
				</div>
			</div>
		</div>

		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">?</span>
			</md-card-title-text>
		</md-card-title>


		<!-- show credentials, gives a glimpse of who the card could be -->
		<md-card-actions class="card-actions">
			<div layout="row">
				<div layout="column" layout-align="center center" flex="33">
					<p>Impact</p>
					<md-button class="play-button grade-not-collected">
						{{ card.impact }}
					</md-button>
				</div>

				<div layout="column" layout-align="center center" flex="33">
					<p>Intelligence</p>
					<md-button class="play-button grade-not-collected">
						{{ card.intelligence }}
					</md-button>
				</div>

				<div layout="column" layout-align="center center" flex="33">
					<p>Legacy</p>
					<md-button class="play-button grade-not-collected">
						{{ card.legacy }}
					</md-button>
				</div>
			</div>

			<div layout="row" layout-align="space-around none">
				<div layout="column" layout-align="center center" flex="33">
					<p>Courage</p>
					<md-button class="play-button grade-not-collected">
						{{ card.courage }}
					</md-button>
				</div>

				<div layout="column" layout-align="center center" flex="33">
					<p>Humility</p>
					<md-button class="play-button grade-not-collected">
						{{ card.humility }}
					</md-button>
				</div>

				<div layout="column" layout-align="center center" flex="33">
					<p>Special ability:</p>
					<md-button class="play-button grade-not-collected">
						{{ card.special_ability }}
					</md-button>
				</div>
			</div>
		</md-card-actions>

		
		<!-- default, unflipped - show special ability description -->
		<md-card-content id="special-ability-section">
			<h5>Special ability:</h5>
			<p>?</p>
		</md-card-content>
	</md-card>
</div>